<%- include("partials/navbar") -%>
    <div class="wrapper">
        <h2>Ctrl-C Ctrl-V made easy.</h2>
        <form action="/api" method="POST">
            <input name="newtext" type="text" id="myInput" class="clipboard px-2 py-3" placeholder="Paste here...">
            <div class="anim-btn">
                <button class="anim-btn__button">Sync your text!</button>
                <div class="anim-btn__overlay"></div>
            </div>
        </form>
    </div>
</body>
</html>