<%- include("partials/navbar") -%>
<link rel="stylesheet" href="/css/login.css">
    <div class="wrapper">
        <h2 class="josefin">Ctrl-C Ctrl-V made easy.</h2>
        <form action="/login" method="POST" class="play">
            <input name="username" type="text" id="myInput" class="clipboard px-2 py-3 mb-1" placeholder="Username" required>
            <input name="password" type="password" id="myInput" class="clipboard px-2 py-3 mb-2" placeholder="Password" required>
            <div class="anim-btn">
                <button class="anim-btn__button">Login</button>
                <div class="anim-btn__overlay"></div>
            </div>
        </form>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>